.product-card {
  border: 1px solid #67ccbd;
  background-color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

}

.product-card-image {
  width: 100%;
  height: 280px;
  object-fit: contain;
  background-color: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #dee2e6;
}

.product-card-content {
  padding: 20px;
}

.product-card-title {
  font-size: 22px;
}


/* normal dark text */
.product-card-price {
  color: #222;
  font-weight: 600;
}

/* normal dark text but crossed out */
.product-card-old-price {
  color: #222;
  text-decoration: line-through;
}

/* green and bold text */
.product-card-discount-price {
  color: #2fa08f;
  font-weight: 700;
}


.product-card-link {
  cursor: pointer;
}


.product-card-button {
  background-color: #2f343a;
  color: white;
}