.card {
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: 300px;   
  object-fit: fill;
  cursor: pointer;
}
.card-img-top:hover {
  transform: scale(1.05);
}


.allproductstitle { 
  text-align: center;
  margin: 40px 0;  
  font-size: 60px; 
}

#message-for-user  {
  text-align: center;
  margin-bottom: 20px;
}


.btn.btn-dark {
cursor: pointer;
transform: scale(1.05);
}

#filterDropdowns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 32px;
    margin-top: 25px;
}
