.card {
    height: 100%;
    overflow: visible;
}

.card-img-top {
    width: 100%;
    object-fit: scale-down;
    cursor: pointer;
}
.card-img-top:hover {
    transform: scale(1.05);
}

.productTitle { 
    text-align: center;
    margin: 40px 0;  
    font-size: 60px; 
}

#sizeButton{
    float: left;
    margin: 20px;
}

#gender{
    text-transform: uppercase;
}

#ProductInfo{
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;   
}

#lowerDiv {
    margin-bottom: 50px;
}

.btn.btn-dark {
    cursor: pointer;
    transform: scale(1.05);
}


