.product-section {
  margin-bottom: 80px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.section-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}